.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

@media screen and (max-width: 800px) {
  .attribution {
    margin-top: 1.2rem;
  }
}

.apodApi {
  color: rgb(69, 51, 230);
  text-decoration: underline;
}

.apodApi:hover {
  color: rgb(138, 127, 240);
}
